    <div class="container">

    <div class="jumbotron">
        <h1>Welcome to Gud'Burger </h1>
        <p>Welcome to Gud'Burger...Home of the Gud'Burger, can I take your order .</p>
        <br>
        <h2>Select a Gud'Burger</h2>
        <panel>
            <form class="create-form">
                <div class="form-group">
                    <label for="newburger">Order Fresh Burger</label>
                    <select data-placeholder="" id="newburger" name="burger">
                        <option value="Hamburger">Gub'Hamburger</option>
                        <option value="CheeseBurger">Gub'CheeseBurger</option>
                        <option value="DoubleBfChz">Double Up (double meat and cheese)</option>
                        <option value="VeggieBurger">Veggie Burger</option>
                    </select>

                    <button type="submit" class="btn btn-success" id="addburger">
                        <span class="fa fa-thumbs-up"></span>
                    </button>
                </div>
            </form>
        </panel>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="leftside"><strong>Order Your Gud'Burger</strong>
                    <p>Send order to cashier when ready for pick up</p>
                </div>
                <div class="panel-body">

                    <ul>
                        {{#each burger}}
                        {{#unless devoured}}

                        <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                        <button type="button" class="eatburger btn btn-warning" id="eatbutton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}"><span class="fa fa-usd"></span></button>
                        <hr>
                        {{/unless}}
                        {{/each}}
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="rightside"><strong>Gub'Burger is Ready for Pick Up</strong>
                    <p>Remove order from pick up when delivered</p>
                </div>
                <div class="panel-body">
                    <ul>
                        {{#each burger}}
                        {{#if devoured}}
                        <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                        <button type="button" class="trashburger btn btn-danger" id="trashbutton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}"><span class="fa fa-trash"></span></button>
                        <hr>
                        {{/if}}
                        {{/each}}
                    </ul>



                </div>
            </div>
        </div>

    </div>
   
</div>
